/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 13, 2024, 4:32:48 PM
    Author     : ThanhThuy
*/

.search_item_ticket:nth-child(2) {
    width: 100%;
}
.search_item_ticket div {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 14px;
}