USE [master]
GO
/****** Object:  Database [airline_reservation]    Script Date: 3/2/2024 11:25:29 AM ******/
CREATE DATABASE [airline_reservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'airline_reservation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\airline_reservation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'airline_reservation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\Log\airline_reservation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [airline_reservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [airline_reservation]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phoneNumber] [nvarchar](15) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [nvarchar](20) NOT NULL,
	[password] [nvarchar](30) NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[flightID] [nvarchar](10) NOT NULL,
	[fromCity] [nvarchar](20) NOT NULL,
	[toCity] [nvarchar](20) NOT NULL,
	[departureDate] [date] NOT NULL,
	[arrivalDate] [date] NOT NULL,
	[departureTime] [time](7) NOT NULL,
	[arrivalTime] [time](7) NOT NULL,
	[seatEconomy] [int] NOT NULL,
	[seatBusiness] [int] NOT NULL,
	[priceEconomy] [decimal](12, 3) NOT NULL,
	[priceBusiness] [decimal](12, 3) NOT NULL,
	[jetID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[flightID] ASC,
	[departureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jetDetails]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jetDetails](
	[jetID] [nvarchar](10) NOT NULL,
	[jetType] [nvarchar](20) NULL,
	[totalCapacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[jetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passengers]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passengers](
	[pID] [int] NOT NULL,
	[pNameRecord] [nvarchar](15) NOT NULL,
	[pName] [nvarchar](30) NULL,
	[age] [int] NULL,
	[gender] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[pID] ASC,
	[pNameRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentDetails]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentDetails](
	[payID] [nvarchar](20) NOT NULL,
	[pNameRecord] [nvarchar](15) NULL,
	[payDate] [date] NULL,
	[payAmount] [decimal](12, 3) NULL,
	[payMode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[payID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticketDetails]    Script Date: 3/2/2024 11:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketDetails](
	[pNameRecord] [nvarchar](15) NOT NULL,
	[dateReservation] [date] NULL,
	[flightID] [nvarchar](10) NULL,
	[journeyDate] [date] NULL,
	[class] [nvarchar](10) NULL,
	[bookingStatus] [nvarchar](10) NULL,
	[noPassengers] [int] NULL,
	[payID] [nvarchar](20) NULL,
	[accountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pNameRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountID], [fullName], [username], [email], [phoneNumber], [address]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana', N'nguyenvana@example.com', N'0123456789', N'Hà Nội')
INSERT [dbo].[Account] ([accountID], [fullName], [username], [email], [phoneNumber], [address]) VALUES (2, N'Trần Thị B', N'tranthib', N'tranthib@example.com', N'0987654321', N'Hồ Chí Minh')
INSERT [dbo].[Account] ([accountID], [fullName], [username], [email], [phoneNumber], [address]) VALUES (3, N'Lê Văn C', N'levanc', N'levanc@example.com', N'0369852147', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Admin] ([adminId], [password], [name], [email]) VALUES (N'admin', N'admin123', N'Nguyễn Văn Mỹ', N'nguyenvana@example.com')
GO
INSERT [dbo].[Flight] ([flightID], [fromCity], [toCity], [departureDate], [arrivalDate], [departureTime], [arrivalTime], [seatEconomy], [seatBusiness], [priceEconomy], [priceBusiness], [jetID]) VALUES (N'VN101', N'Hanoi', N'Ho Chi Minh City', CAST(N'2024-03-05' AS Date), CAST(N'2024-03-05' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:30:00' AS Time), 150, 50, CAST(100.000 AS Decimal(12, 3)), CAST(250.000 AS Decimal(12, 3)), N'JET001')
INSERT [dbo].[Flight] ([flightID], [fromCity], [toCity], [departureDate], [arrivalDate], [departureTime], [arrivalTime], [seatEconomy], [seatBusiness], [priceEconomy], [priceBusiness], [jetID]) VALUES (N'VN102', N'Ho Chi Minh City', N'Hanoi', CAST(N'2024-03-06' AS Date), CAST(N'2024-03-06' AS Date), CAST(N'09:30:00' AS Time), CAST(N'12:00:00' AS Time), 140, 60, CAST(120.000 AS Decimal(12, 3)), CAST(270.000 AS Decimal(12, 3)), N'JET002')
INSERT [dbo].[Flight] ([flightID], [fromCity], [toCity], [departureDate], [arrivalDate], [departureTime], [arrivalTime], [seatEconomy], [seatBusiness], [priceEconomy], [priceBusiness], [jetID]) VALUES (N'VN103', N'Da Nang', N'Nha Trang', CAST(N'2024-03-07' AS Date), CAST(N'2024-03-07' AS Date), CAST(N'11:15:00' AS Time), CAST(N'13:45:00' AS Time), 120, 40, CAST(90.000 AS Decimal(12, 3)), CAST(200.000 AS Decimal(12, 3)), N'JET003')
GO
INSERT [dbo].[jetDetails] ([jetID], [jetType], [totalCapacity]) VALUES (N'JET001', N'Boeing 737', 150)
INSERT [dbo].[jetDetails] ([jetID], [jetType], [totalCapacity]) VALUES (N'JET002', N'Airbus A320', 180)
INSERT [dbo].[jetDetails] ([jetID], [jetType], [totalCapacity]) VALUES (N'JET003', N'Boeing 787', 250)
GO
INSERT [dbo].[passengers] ([pID], [pNameRecord], [pName], [age], [gender]) VALUES (1, N'PNR001', N'Nguyễn Văn A', 35, N'Male')
INSERT [dbo].[passengers] ([pID], [pNameRecord], [pName], [age], [gender]) VALUES (1, N'PNR002', N'Trần Thị B', 28, N'Female')
INSERT [dbo].[passengers] ([pID], [pNameRecord], [pName], [age], [gender]) VALUES (1, N'PNR003', N'Lê Văn C', 45, N'Male')
GO
INSERT [dbo].[paymentDetails] ([payID], [pNameRecord], [payDate], [payAmount], [payMode]) VALUES (N'PAY001', N'PNR001', CAST(N'2024-03-01' AS Date), CAST(150.000 AS Decimal(12, 3)), N'Credit Card')
INSERT [dbo].[paymentDetails] ([payID], [pNameRecord], [payDate], [payAmount], [payMode]) VALUES (N'PAY002', N'PNR002', CAST(N'2024-03-02' AS Date), CAST(200.000 AS Decimal(12, 3)), N'Debit Card')
INSERT [dbo].[paymentDetails] ([payID], [pNameRecord], [payDate], [payAmount], [payMode]) VALUES (N'PAY003', N'PNR003', CAST(N'2024-03-03' AS Date), CAST(180.000 AS Decimal(12, 3)), N'Debit Card')
GO
INSERT [dbo].[ticketDetails] ([pNameRecord], [dateReservation], [flightID], [journeyDate], [class], [bookingStatus], [noPassengers], [payID], [accountID]) VALUES (N'PNR001', CAST(N'2024-03-01' AS Date), N'VN101', CAST(N'2024-03-05' AS Date), N'Economy', N'Confirmed', 5, N'PAY001', 1)
INSERT [dbo].[ticketDetails] ([pNameRecord], [dateReservation], [flightID], [journeyDate], [class], [bookingStatus], [noPassengers], [payID], [accountID]) VALUES (N'PNR002', CAST(N'2024-03-02' AS Date), N'VN102', CAST(N'2024-03-06' AS Date), N'Business', N'Confirmed', 3, N'PAY002', 2)
INSERT [dbo].[ticketDetails] ([pNameRecord], [dateReservation], [flightID], [journeyDate], [class], [bookingStatus], [noPassengers], [payID], [accountID]) VALUES (N'PNR003', CAST(N'2024-03-03' AS Date), N'VN103', CAST(N'2024-03-07' AS Date), N'Economy', N'Confirmed', 2, N'PAY003', 3)
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([jetID])
REFERENCES [dbo].[jetDetails] ([jetID])
GO
ALTER TABLE [dbo].[passengers]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_PNR] FOREIGN KEY([pNameRecord])
REFERENCES [dbo].[ticketDetails] ([pNameRecord])
GO
ALTER TABLE [dbo].[passengers] CHECK CONSTRAINT [FK_Passenger_PNR]
GO
ALTER TABLE [dbo].[paymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_paymentDetails] FOREIGN KEY([pNameRecord])
REFERENCES [dbo].[ticketDetails] ([pNameRecord])
GO
ALTER TABLE [dbo].[paymentDetails] CHECK CONSTRAINT [FK_paymentDetails]
GO
ALTER TABLE [dbo].[ticketDetails]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ticketDetails]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Details] FOREIGN KEY([flightID], [journeyDate])
REFERENCES [dbo].[Flight] ([flightID], [departureDate])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ticketDetails] CHECK CONSTRAINT [FK_Flight_Details]
GO
ALTER TABLE [dbo].[ticketDetails]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Pay] FOREIGN KEY([payID])
REFERENCES [dbo].[paymentDetails] ([payID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ticketDetails] CHECK CONSTRAINT [FK_Ticket_Pay]
GO
USE [master]
GO
